@import "../abstracts/variables";
@import "../abstracts/mixins";
.introduction {
  text-align: center;
  &__wrapper {
    padding: 158px 15px 0;
    width: 100%;
    height: 100%;
    background: url("../image/intoduction/introduction-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    @media (min-width: $tablet-bp) {
      padding-top: 187px;
    }
    @media (min-width: $desktop-bp) {
      background-size: cover;
    }
  }

  &__title {
    margin-bottom: 19px;
    @include font(Montserrat, 700, 48px, 48px, $color-white);
  }

  &__subtitle {
    margin-bottom: 19px;
    @include font(Montserrat, 400, 18px, 24px, $primary-color);
  }

  &__version {
    margin-bottom: 462px;
    @include font(Montserrat, 400, 14px, 14px, $color);
  }

  &__btn {
    margin: 0 auto 50px;
    position: relative;
    top: 15px;
    @media (min-width: 545px) {
      top: 23px;
    }
    @media (min-width: $tablet-bp) {
      top: 15px;
    }
    @media (min-width: $desktop-bp) {
      top: 23px;
    }
  }

  &__trial {
    @include font(Montserrat, 400, 14px, 14px, $color);
  }
}
