.price {
  background-image: url(../image/price/bckground-s.png);
  background-size: cover;
  @media (min-width: $tablet-bp) {
    background-image: url(../image/price/bckground-m.png);
  }
  @media (min-width: $desktop-bp) {
    background-image: url(../image/price/bckground-l.png);
  }
}
.price__container {
  padding: 14px 30px;
  @media (min-width: $tablet-bp) {
    padding: 88px 108px 94px 79px;
  }
  @media (min-width: $desktop-bp) {
    padding: 0 133px 112px;
  }
  h2 {
    @include font($fontFamilyMontserrat, 700, 28px, 42px, #fff);
    text-align: center;
    @media (min-width: $tablet-bp) {
      font-size: 42px;
      line-height: 44px;
    }
    @media (min-width: $desktop-bp) {
      font-size: 48px;
      line-height: 50px;
    }
  }
  ul {
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    grid-template-rows: 457px 457px 557px 457px;
    row-gap: 18px;
    margin-top: 32px;
    @media (min-width: $tablet-bp) {
      grid-template-rows: 457px 557px;
      grid-template-columns: 299px 257px;
      row-gap: 30px;
      column-gap: 25px;
      justify-items: end;
      margin-top: 39px;
    }
    @media (min-width: $desktop-bp) {
      grid-template-columns: 257px 257px 299px 257px;
      grid-template-rows: 457px;
      justify-items: center;
      column-gap: 15px;
      margin-top: 112px;
    }
  }
}
.price__item {
  background-color: rgba(255, 255, 255, 0.11);
  @include flex-center();
  justify-content: space-between;
  flex-direction: column;
  width: 257px;
  height: 457px;
  margin-right: 0;
}
.price__type {
  background-color: rgba(255, 255, 255, 0.06);
  @include flex-center();
  width: 100%;
  height: 97px;
  p {
    @include font($fontFamilyMontserrat, 400, 24px, 24px, #fff);
    text-transform: uppercase;
  }
}
.price__price {
  @include font($fontFamilyMontserrat, 700, 60px, 62px, #fff);
  @include flex-center();
  flex-direction: column;
  @media (min-width: $tablet-bp) {
    line-height: 90px;
  }
  p {
    @include font($fontFamilyMontserrat, 400, 14px, 16px, #fff);
    text-transform: uppercase;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 16px;
      left: 15px;
      padding-bottom: 38px;
      border-bottom: 5px solid $primary-color;
      width: 60px;
    }
  }
}
.price__conditions {
  @include font($fontFamilyMontserrat, 400, 16px, 18px, #fff);
  margin-top: 70px;
  @include flex-center();
  flex-direction: column;
  @media (min-width: $tablet-bp) {
    line-height: 18px;
  }
  span {
    margin-top: 5px;
  }
}
.price__link {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 25px;
  margin-top: 37px;
  margin-bottom: 67px;
  width: 163px;
  height: 45px;
  cursor: pointer;
  @include flex-center();
  a {
    text-decoration: none;
    @include font($fontFamilyMontserrat, 400, 15px, 15px, #fff);
    text-transform: uppercase;
  }
}
.price__item-accent {
  background-color: rgba(70, 48, 72, 0.84);
  width: 299px;
  height: 557px;
  .price__type {
    height: 116px;
    background-color: rgba(0, 0, 0, 0.11);
  }
  .price__price {
    font-size: 82px;
    line-height: 84px;
  }
  .price__conditions {
    line-height: 32px;
  }
  .price__link {
    font-size: 16px;
    line-height: 18px;
  }
}
