@import "../abstracts/variables";
@import "../abstracts/mixins";
.about-editor__container {
  padding-right: 25px;
  padding-left: 25px;
  margin-top: 79.5px;
  @media (min-width: $tablet-bp) {
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 93.5px;
  }
  @media (min-width: $desktop-bp) {
    padding-right: 260px;
    padding-left: 260px;
    margin-top: 66px;
  }
  h2 {
    @include font($fontFamilyMontserrat, 700, 26px, 28px, $secondary-color);
    text-align: center;
    text-transform: uppercase;
    @media (min-width: $tablet-bp) {
      font-size: 42px;
      line-height: 42px;
    }
    @media (min-width: $desktop-bp) {
      font-size: 54px;
      line-height: 54px;
    }
  }
  p {
    @include font($fontFamilyLato, 400, 14px, 20px, #323232);
    margin-top: 27px;
    text-align: center;
    @media (min-width: $tablet-bp) {
      margin-top: 33px;
      font-size: 21px;
      line-height: 32px;
    }
    @media (min-width: $tablet-bp) {
      margin-top: 35px;
    }
  }
  ul {
    margin-top: 36px;
    @include flex-center();
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    @media (min-width: $tablet-bp) {
      margin-top: 24px;
    }
    @media (min-width: $tablet-bp) {
      margin-top: 13px;
    }

    li {
      width: 120px;
    }
  }
}
