.what-get {
  @media (min-width: $desktop-bp) {
    background-color: #f4f4f4;
  }
}
.what-get__container {
  margin-top: 120px;
  padding-right: 25px;
  padding-left: 25px;
  @include flex-center();
  flex-direction: column;
  @media (min-width: $tablet-bp) {
    margin-top: 160px;
  }
  @media (min-width: $desktop-bp) {
    width: 1200px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 98px;
    padding-bottom: 33px;
    display: grid;
    grid-template-areas:
      "item1 item2 item2"
      "item1 item3 item3"
      "item1 item3 item3";
    column-gap: 49px;
  }

  h2 {
    @include font($fontFamilyMontserrat, 700, 32px, 38px, $primary-color);
    text-align: center;
    @media (min-width: $tablet-bp) {
      font-size: 42px;
      line-height: 44px;
    }
    @media (min-width: $desktop-bp) {
      font-size: 48px;
      line-height: 50px;
      margin-right: 63px;
      grid-area: item2;
    }
  }

  ul {
    margin-top: 36px;
    list-style-type: none;
    @include flex-center();
    flex-direction: column;
    gap: 38px;
    @media (min-width: $tablet-bp) {
      margin-top: 50px;
      gap: 60px;
      align-items: start;
    }
    @media (min-width: $desktop-bp) {
      margin-top: 0;
      grid-area: item1;
    }
  }
}
.what-get__list-item {
  @include flex-center();
  flex-direction: column;
  @media (min-width: $tablet-bp) {
    flex-direction: row;
  }
  h3 {
    @include font($fontFamilyMontserrat, 400, 16px, 16px, #323232);
    text-align: center;
    @media (min-width: $tablet-bp) {
      line-height: 21px;
      text-align: left;
    }
  }
  p {
    @include font($fontFamilyLato, 400, 14px, 21px, $color);
    margin-top: 14px;
    text-align: center;
    @media (min-width: $tablet-bp) {
      text-align: left;
      font-family: $fontFamilyMontserrat;
    }
  }
}
#icon1 {
  margin-bottom: 27px;
  @media (min-width: $tablet-bp) {
    margin-bottom: 0;
    margin-right: 23px;
  }
}
#icon2 {
  margin-bottom: 21px;
  @media (min-width: $tablet-bp) {
    margin-bottom: 0;
    margin-right: 43px;
  }
}
#icon3 {
  margin-bottom: 20px;
  @media (min-width: $tablet-bp) {
    margin-bottom: 0;
    margin-right: 65px;
  }
}
#icon4 {
  margin-bottom: 23px;
  @media (min-width: $tablet-bp) {
    margin-bottom: 0;
    margin-right: 61px;
  }
}
.what-get__photo {
  background-image: url(../image/what-you-get/screen-photo-s.png);
  background-position: right;
  background-repeat: no-repeat;
  width: 100%;
  height: 381px;
  margin-top: 64px;
  @media (min-width: $tablet-bp) {
    background-image: url(../image/what-you-get/screen-photo-m.png);
    margin-top: 76px;
    border-radius: 5px;
    height: 519px;
  }
}
.photo-tablet {
  @media (min-width: $desktop-bp) {
    display: none;
  }
}
.photo-desktop {
  display: none;
  @media (min-width: $desktop-bp) {
    display: block;
    grid-area: item3;
    margin-top: 19px;
    background-position: left;
  }
}
