@import "../abstracts/variables";
@import "../abstracts/mixins";

.logo {
  &__wrapper {
    content: url("../image/header/logo.svg");
    @media (min-width: $tablet-bp) {
      margin-right: 17px;
    }
  }

  &__text {
    display: none;
    @media (min-width: $tablet-bp) {
      display: inline;
      @include font(Lato, 700, 24px, 16px, $primary-color);
    }
  }

  &:hover {
    .logo__wrapper{
      content: url("../image/header/logo-hover.svg");
    }

    .logo__text {
      color: $color-white;
    }
  }
}