@import "../abstracts/variables";
@import "../abstracts/mixins";

.post {
  @include flex($flexDirection: column, $justifyContent: flex-start);
  width: 100%;
  margin-bottom: 45px;

  &__text {
    @include font(Lato, 700, 16px, 24px, $color-white);
  }

  @media (min-width: $tablet-bp) {
    width: 44%;
    gap: 3%;
  }

  @media (min-width: $desktop-bp) {
    width: 30%;
    gap: 2%;
  }
}