@mixin font($fontFamily, $fontWeight, $fontSize, $lineHeight, $color) {
  font-family: $fontFamily;
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $color;
}
@mixin flex-center () {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex($alignItems: center, $justifyContent: center, $flexDirection: row, $wrap: nowrap) {
  display: flex;
  align-items: $alignItems;
  justify-content: $justifyContent;
  flex-direction: $flexDirection;
  flex-wrap: $wrap;
}