$tablet-bp: 768px;
$desktop-bp: 1200px;

$color-header-mobile-bg: #27262A;
$color-btn-text: #24292f;
$color-btn-bg: #f6f8fa;
$color-btn-border: #57606a;
$color-btn-shadow: 0 1px 0 rgba(27, 31, 36, 0.04);
$color-btn-inset-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
$color-fg-default: #24292f;
$color-fg-muted: #57606a;
$color-white: #ffffff;
$color-note: #a291a5;
$color-line: #645766;
$color-header-menu-element-mobile: #333333;
$color-header-menu-element-mobile-border: #3B3B3B;

$primary-color: #8d81ac;
$secondary-color: #635c73;

$color-btn-counter-bg: rgba(27, 31, 36, 0.08);
$color-neutral-muted: rgba(175, 184, 193, 0.2);
$color-counter-border: rgba(0, 0, 0, 0);

$fontFamily: sans-serif;
$fontFamilyMontserrat: "Montserrat", sans-serif;
$fontFamilyLato: "Lato", sans-serif;
$fontWeight: 400;
$fontSize: 14px;
$lineHeight: 21px;
$color: #848e97;
